/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Noto Sans JP', sans-serif;
  /* font-family: Arial, sans-serif; */
  background-color: #f4f4f9; /* 全体の背景色を変更 */
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* パディングを追加 */
  background-color: #ffffff; /* ヘッダーの背景色を変更 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.title {
  flex: 1; /* タイトルエリアをフレックスアイテムとして設定 */
}

.title h1 {
  color: #594ef8;
  font-size: 2.5em;
  margin: 0;
}

.title h1 a {
  color: #594ef8; /* リンクの色をタイトルと同じにする */
  text-decoration: none; /* 下線を消す */
}

.user-info {
  font-size: 1.2em;
  color: #333;
  margin-right: 20px;
}
/* ↓リンクの下線を消す↓ */
a {
  text-decoration: none;
  font-size: 1em;
}
/* ↑リンクの下線を消す↑ */

/* ↓ログアウトなどの文字を右端にしたい↓ */
.user_nav {
  overflow: hidden; /* 親要素が子要素を包むために必要 */
  display: flex; /* フレックスボックスを使用してアイテムを配置 */
  justify-content: flex-end; /* フレックスアイテムを右端に配置 */
  align-items: center; /* フレックスアイテムを縦方向中央に配置 */
}

.user_nav .post {
  margin-right: 10px; /* リンク間にスペースを追加 */
}

.user_nav .post:last-child {
  margin-right: 0; /* 最後のリンクの右マージンを無効化 */
}

.user_nav a {
  float: right;
}
/* ↑ログアウトなどの文字を右端にしたい↑ */

/* ↓ログインボタン↓ */

.login-button {
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px; /* ボタンの内側の余白 */
  /* padding: 4px 4px; */
  margin: 3px;
  font-size: 15px;
  /* font-weight: bold; */
  line-height: 1.5; /* ボタン内のテキストの行の高さを設定 */
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: inline-block; /* ボタンがインラインブロックとして表示されるようにする */
}

.login-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.login-button:active {
  background-color: #004494;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  transform: translateY(2px);
}

/* アイコン付きのボタン */
.login-button::before,
.signup-button::before {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

/* aタグの色を親要素から継承し、下線を消す */
.login-button a {
  color: inherit; /* 親要素の色を継承する */
  text-decoration: none; /* 下線を消す */
}


/* ↑ログインボタン↑ */

/* ↓新しいワークアウトのボタン↓ */
.new-work-button {
  background-color: #14a920;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px; /* ボタンの内側の余白 */
  /* padding: 4px 4px; */
  margin: 3px;
  font-size: 15px;
  /* font-weight: bold; */
  line-height: 1.5; /* ボタン内のテキストの行の高さを設定 */
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: inline-block; /* ボタンがインラインブロックとして表示されるようにする */
}

.new-work-button:hover {
  background-color: #0c6514;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.new-work-button:active {
  background-color: #0c6514;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  transform: translateY(2px);
}
/* ↑新しいワークアウトのボタン↑ */

/* 詳細ページ */
.wrapper{
  padding: 20px 40px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(100% - 50px);
  box-sizing: border-box;
}

.workout-top {
  font-size: 0.9em;
  /* 例えば、親要素のフォントサイズが 16px の場合、1em は 16px に相当します。したがって、1.2em は以下のように計算されます： */
  font-weight: bold;
  margin-bottom: 10px;
  color: #4038ab;
}

.workout-top h1 {
  color: #4038ab; /* ここでより具体的なセレクタを使用して色を設定 */
}

.field {
  margin-bottom: 15px; 
  display: flex;
  align-items: center;
}

.field .form-label {
  width: 150px; /* ラベルの固定幅を設定 */
  margin-right: 10px; /* ラベルと入力フィールドの間にスペースを追加 */
}

.field .form-input {
  width: 200px; /* 入力フィールドの幅を設定します */
  margin-right: 10px; /* 必要に応じてマージンを調整します */
}

.actions {
  margin-top: 20px;
}

.nested-fields {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
}

.exercises {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.exercise-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.exercise-field {
  flex: 1 1 45%; /* 各フィールドを2列に配置 */
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.exercise-field strong {
  display: inline-block;
  width: 100px; /* ラベルの幅を固定 */
}

.exercise-field span {
  display: inline-block;
}

.return-link {
  margin-top: 20px; /* 戻るリンクの上にマージンを追加 */
  display: block; /* 戻るリンクをブロック要素にすることで幅を全体にする */
  color: inherit; /* 親要素の色を継承する */
  text-decoration: none; /* 下線を消す */
  font-weight: bold;
}

/* リンクのホバー、アクティブ、フォーカス状態を指定して色が変わらないようにする */
.return-link:hover,
.return-link:active,
.return-link:focus {
  color: #4038ab;
  text-decoration: none; /* 必要に応じて下線を消す */
}

.show-image{
  width: 200px;
  height: 200px;
  display: flex;
}

/* ↑詳細ページ↑ */

/* ワークアウトリスト */
.workout-list {
  display: flex;
  flex-wrap: wrap; /* 子要素がコンテナの幅を超えた場合、自動的に次の行に折り返します。 */
  gap: 20px;/* 各カード間のスペースを20pxに設定します。 */
  padding: 20px 0;
}

.workout-card {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.workout-date {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4038ab;
}

.workout-image {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* background-color: #f0f0f0; 画像がない場合の背景色 */
  overflow: hidden; /* 画像が枠を超えないようにする */
  margin-left:10px;
  text-align: center; /* 文字を中央揃えにする */
}

.workout-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 画像が切れないように縮小して枠内に収める */
  border-radius: 5px;
}

/* ↓リンクの色を親要素に継承させる↓ */
.workout-date a {
  color: inherit;
  text-decoration: none; /* 必要に応じて下線を消す */
}
/* ↑リンクの色を親要素に継承させる↑ */

.workout-details {
  font-size: 1em;
  color: #333;
}

.workout-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit-link, .delete-link {
  color: #007BFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.edit-link i, .delete-link i {
  margin-right: 5px;
}

.edit-link:hover, .delete-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .workout-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .workout-card {
    width: 100%;
  }
}
/* ワークアウトリスト */

/* ↓ユーザー登録↓ */
.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007BFF; /* 青色のタイトル */
  text-align: center;
  margin-bottom: 20px;
}

.field-u {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.field-u label {
  color: #555;
  width: 200px; /* ラベルの幅を広げる */
  margin-right: 10px; /* ラベルと入力フィールドの間のスペース */
}

.field-u input[type="text"],
.field-u input[type="email"],
.field-u input[type="password"] {
  flex: 1; /* 残りの幅を占める */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.field-u input[type="text"]:focus,
.field-u input[type="email"]:focus,
.field-u input[type="password"]:focus {
  border-color: #007BFF;
  outline: none;
}

.actions {
  text-align: center;
}

.actions input[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}
/* ↑ユーザー登録↑ */

.form-input {
  width: 200px; /* 希望する幅を指定 */
}

/* ↓レスポンスデザイン↓ */
/* モバイルデバイス向け */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 10px;
  }
  /* その他のモバイル向けスタイル */
}

/* タブレット向け */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .container {
    padding: 20px;
  }
  /* その他のタブレット向けスタイル */
}

/* デスクトップ向け */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .container {
    padding: 30px;
  }
  /* その他のデスクトップ向けスタイル */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .item {
    flex: 1 1 50%;
  }
}

@media (min-width: 1024px) {
  .item {
    flex: 1 1 33.33%;
  }
}
/* ↑レスポンスデザイン↑ */